@model List<MyFaultsViewModel>

<h1>Arıza Kayıt Detay Sayfası</h1>


<div class="text-primary" style="text-align:center;font-size:25px">@TempData["message"]</div>
<div class="text-primary" style="text-align:center;font-size:25px">@TempData["mesaj"]</div>
<table class="table table-bordered">
    <tr>
        <th>Arıza Numarası</th>
        <th>Arıza Konusu</th>
        <th>Oluşturma Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaultId</td>
            <td>@item.Subject</td>
            <td>@item.CreatedDate</td>
            <td>
                <a asp-action="FaultDetails" asp-controller="Customer" asp-route-id="@item.FaultId" class="btn btn-success">Detay</a>
                <a asp-action="Delete" asp-controller="Customer" asp-route-id="@item.FaultId" class="btn btn-danger">Sil</a>
            </td>

        </tr>
    }

</table>